* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2a2a5c;
}

.header {
    padding: 30px;
    font-size: 50px;
    text-align: center; /* Centrar el texto del header */
}

.header__title {
    color: #ffffff;
}

.main {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 20px;
}

.nav__left {
    width: 500px;
    background-image: url('../storage/image/stars.gif');
    background-size: cover;
    background-repeat: repeat;
    padding: 20px;
}

.nav__left img {
    width: 490px;
}

.description__item {
}

.description__container {
    margin-bottom: 20px;
    color: white;
}

.main__section {
    width: 60%;
    padding: 20px;
}

.section__information {
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

.carousel {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-size: 20px;
    background: rgb(101, 117, 180);
    border-radius: 15px;
}

.carousel__item {
}

.section__information__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../storage/image/stars.gif');
    background-repeat: repeat;
}

.section__information__2 {
}

.section__image {
    height: 980px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 50px; /* Ajustar el tamaño de la flecha según sea necesario */
    height: 50px;
}

#left_arrow {
    left: -100px; /* Ajustar esta distancia según sea necesario */
}

#right_arrow {
    right: -100px; /* Ajustar esta distancia según sea necesario */
}

.image__crew {
    height: 600px;
    width: auto;
    margin: 30px;
    border-radius: 15px;
}

.section__information__3 {
}

.nav__right {
    width: 500px;
    background-image: url('../storage/image/stars.gif');
    background-size: cover;
    background-repeat: repeat;
}

.information__item {
    color: white;
}

.footer {
    display: flex;
    justify-content: center; /* Centrar el footer horizontalmente */
    padding: 0 1%; /* Padding de arriba, izquierda y derecha en 1% */
    font-size: 20px;
    width: 100%; /* Asegurar que el footer ocupe el ancho completo */
    background: rgb(101, 117, 180); /* Fondo del footer */
    border-radius: 15px;
    position: relative; /* Para asegurar que se centre correctamente */
    bottom: 0; /* Colocar el footer en la parte inferior */
}

.footer__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 1.2%;
    width: 100%;
    overflow: hidden;
    gap: 30px;
    overflow-x: scroll;
}

.footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}

.footer__links img {
    width: 30%;
}