<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/company.css">
    <script type="module" src="../js/company.js" defer></script>
    <title>SpaceX Company Information</title>
</head>

<body class="body">

    <header class="header">
        <div class="header__title">SpaceX Company Information</div>
    </header>

    <main class="main">

        <nav class="nav__left">
            <div id="nav__left" class="description__item"></div>
        </nav>

        <section class="main__section">
            <article class="section__information">
                <div id ="carousel" class="carousel">
                    <div class="carousel__item" id="company">Name: </div>
                    <div class="carousel__item" id="companyFounder">Founder: </div>
                    <div class="carousel__item" id="companyFounded">Founded: </div>
                </div>
                
                <div class="section__information__container">
                    <div class="section__information__2" id="companyDescription"></div>
                    <div id="companyImages" class="section__image">
                        <img id="left_arrow" class="arrow" src="../storage/image/left__arow.png" alt="Left Arrow">
                       
                        <img id="image_container" class="image__crew__container" src="../storage/image/spaceX1.jpg"></img>
                        <img id="image_container" class="image__crew__container" src="../storage/image/spaceX2.jpg"></img>
                        <img id="image_container" class="image__crew__container" src="../storage/image/spaceX3.jpg"></img>
                        <img id="image_container" class="image__crew__container" src="../storage/image/spaceX4.jpg"></img>
                        <img id="image_container" class="image__crew__container" src="../storage/image/spaceX5.jpg"></img>
                    
                        <img id="right_arrow" class="arrow" src="../storage/image/right__arrow.png" alt="Right Arrow">
                    </div>
                    <div class="section__information__3" id="companyInformation"></div>
                </div>
            </article>

            <footer class="footer">
                <ul class="footer__list">
                    <li>
                        <a class="footer__links" href="#">
                            <img src ="../storage/image/capsules.png" alt="Capsules">
                            <span>Capsules</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="company.html">
                            <img src ="../storage/image/company.png" alt="Company">
                            <span>Company</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="#">
                            <img src ="../storage/image/cores.png" alt="Cores">
                            <span>Cores</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="./crew.html">
                            <img src ="../storage/image/crew.png" alt="Crew">
                            <span>Crew</span>
                        </a>
                    </li>
                    
                    <li>
                        <a class="footer__links" href="./dragons.html">
                            <img src ="../storage/image/dragon.png" alt="Dragons">
                            <span>Dragons</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="#">
                            <img src ="../storage/image/history.png" alt="History">
                            <span>History</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="">
                            <img src ="../storage/image/landpads.png" alt="Landpads">
                            <span>Landpads</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="../index.html">
                            <img src ="../storage/image/launches.png" alt="Launches">
                            <span>Launches</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="./launchpads.html">
                            <img src ="../storage/image/launchpads.png" alt="Launchpads">
                            <span>Launchpads</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="./payloads.html">
                            <img src ="../storage/image/payloads.png" alt="Payloads">
                            <span>Payloads</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="./roadster.html">
                            <img src ="../storage/image/roadster.png" alt="Roadster">
                            <span>Roadster</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="./rockets.html">
                            <img src ="../storage/image/rockets.png" alt="Rockets">
                            <span>Rockets</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="./ships.html">
                            <img src ="../storage/image/spaceship.png" alt="Ships">
                            <span>Ships</span>
                        </a>
                    </li>
                   
                    <li>
                        <a class="footer__links" href="./starlink.html">
                            <img src ="../storage/image/starlink.png" alt="Starlink">
                            <span>Starlink</span>
                        </a>
                    </li>
                
                </ul>
            </footer>
        </section>

        <nav class="nav__right">
            <div id="nav__right" class="information__item"></div>
        </nav>
    </main>
</body>
</html>