<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/landpads.css">
    <script type="module" src="../js/landpads.js" defer></script>
    <title>Landpads Information</title>
</head>
<body class="body">
    <header class="header">
        <div class="header__title">SpaceX Landpads</div>
    </header>
    <main class="main">
        <nav class="nav__left">
            <div class="description__item">
                <div class="description__container">
                    <h2>Landpads Information</h2>
                    <p id="full_name"></p>
                    <p id="type"></p>
                    <p id="locality_left"></p>
                    <p id="region_left"></p>
                    <p id="latitude"></p>
                    <p id="longitude"></p>
                    <p id="landing_attempts"></p>
                    <p id="landing_successes"></p>
                </div>
            </div>
        </nav>
        <section class="main__section">
            <article class="section__information">
                <div class="carousel">
                    <div class="carousel__item">Name: <span id="name"></span></div>
                    <div class="carousel__item">Status: <span id="status"></span></div>
                    <div class="carousel__item">Locality: <span id="locality_carousel"></span></div>
                    <div class="carousel__item">Region: <span id="region_carousel"></span></div>
                </div>
                <div class="section__information__container">
                    <div class="section__information__2"></div>
                    <div class="section__image">
                        <img id="left_arrow" class="arrow" src="../storage/image/left__arow.png" alt="Left Arrow">
                        <img id="image_crew" class="image__crew" src="https://static.wixstatic.com/media/273efb_f377469fd1f84d18a9fcfb15947c3b69~mv2.jpg/v1/fill/w_500,h_500,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/273efb_f377469fd1f84d18a9fcfb15947c3b69~mv2.jpg" referrerpolicy="no-referrer" alt="Crew Image">
                        <img id="right_arrow" class="arrow" src="../storage/image/right__arrow.png" alt="Right Arrow">
                    </div>
                    <div class="section__information__3"></div>
                </div>
            </article>

            <footer class="footer">
                <ul class="footer__list">
                    <li>
                        <a class="footer__links" href="./capsules.html">
                            <img src ="../storage/image/capsules.png">
                            <span>Capsules</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="./company.html">
                            <img src ="../storage/image/company.png">
                            <span>Company</span>
                        </a>
                    </li>
        
        
                    <li>
                        <a class="footer__links" href="./cores.html">
                            <img src ="../storage/image/cores.png">
                            <span>Cores</span>
                        </a>
                    </li>

                    <li>
                        <a class="footer__links" href="./crew.html">
                            <img src ="../storage/image/crew.png">
                            <span>Crew</span>
                        </a>
                    </li>
                    
                    <li>
                        <a class="footer__links" href="./dragons.html">
                            <img src ="../storage/image/dragon.png">
                            <span>Dragons</span>
                        </a>
                    </li>
                    
        
                    <li>
                        <a class="footer__links" href="./history.html">
                            <img src ="../storage/image/history.png">
                            <span>History</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="landpads.html">
                            <img src ="../storage/image/landpads.png">
                            <span>Landpads</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="../index.html">
                            <img src ="../storage/image/launches.png">
                            <span>Launches</span>
                        </a>
                    </li>
        
        
                    <li>
                        <a class="footer__links" href="./launchpads.html">
                            <img src ="../storage/image/launchpads.png">
                            <span>Launchpads</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="./payloads.html">
                            <img src ="../storage/image/payloads.png">
                            <span>Payloads</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="./roadster.html">
                            <img src ="../storage/image/roadster.png">
                            <span>Roadster</span>
                        </a>
                    </li>
                    
        
                    <li>
                        <a class="footer__links" href="./rockets.html">
                            <img src ="../storage/image/rockets.png">
                            <span>Rockets</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="./ships.html">
                            <img src ="../storage/image/spaceship.png">
                            <span>Ships</span>
                        </a>
                    </li>
                   
                    <li>
                        <a class="footer__links" href="./starlink.html">
                            <img src ="../storage/image/starlink.png">
                            <span>Starlink</span>
                        </a>
                    </li>
                
                </ul>
            </footer>
        </section>
        <nav class="nav__right">
            <div class="information__item">
                <h2>Details:</h2>
                <p id="details"></p>
                <h2>Links</h2>
                <ul>
                    <li><a id="wikipedia" href="" target="_blank">Landpad Details</a></li>
                </ul>
                <h2>Launches:</h2>
                <ul id="launches"></ul>
            </div>
        </nav>
    </main>
</body>
</html>