<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/starlink.css">
    <script type="module" src="../js/starlink.js" defer></script>
    <title>Starlink Satellites</title>
</head>

<body class="body">

    <header class="header">
        <div class="header__title">Starlink Satellites</div>
    </header>

    <main class="main">

        <nav class="nav__left">
            <div class="description__item">
                <div class="description__container">
                    <h2></h2>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    
                </div>
                <div class="description__container"></div>
                <div class="description__container"></div>
            </div>
        </nav>

        <section class="main__section">
            <article class="section__information">
                <div class="carousel">

                    <div class="carousel__item">Name:  </div>
                    <div class="carousel__item">Version: </div>
                    <div class="carousel__item">Launch:  </div>
                </div>

                <div class="section__information__container">
                    <div class="section__information__2"></div>
                    <div class="section__image">
                        <img id="left_arrow" class="arrow" src="../storage/image/left__arow.png">
                        <img id="image_crew" class="image__crew" src="../storage/image/satellite.jpg" referrerpolicy="no-referrer">
                        <img id="right_arrow" class="arrow" src="../storage/image/right__arrow.png">
                    </div>
                    <div class="section__information__3"></div>
                </div>
            </article>

            <footer class="footer">
                <ul class="footer__list">
                    <li>
                        <a class="footer__links" href="#">
                            <img src ="../storage/image/capsules.png">
                            <span>Capsules</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="./company.html">
                            <img src ="../storage/image/company.png">
                            <span>Company</span>
                        </a>
                    </li>
        
        
                    <li>
                        <a class="footer__links" href="#">
                            <img src ="../storage/image/cores.png">
                            <span>Cores</span>
                        </a>
                    </li>

                    <li>
                        <a class="footer__links" href="./crew.html">
                            <img src ="../storage/image/crew.png">
                            <span>Crew</span>
                        </a>
                    </li>
                    
                    <li>
                        <a class="footer__links" href="./dragons.html">
                            <img src ="../storage/image/dragon.png">
                            <span>Dragons</span>
                        </a>
                    </li>
                    
        
                    <li>
                        <a class="footer__links" href="#">
                            <img src ="../storage/image/history.png">
                            <span>History</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="#">
                            <img src ="../storage/image/landpads.png">
                            <span>Landpads</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="../index.html">
                            <img src ="../storage/image/launches.png">
                            <span>Launches</span>
                        </a>
                    </li>
        
        
                    <li>
                        <a class="footer__links" href="./launchpads.html">
                            <img src ="../storage/image/launchpads.png">
                            <span>Launchpads</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="./payloads.html">
                            <img src ="../storage/image/payloads.png">
                            <span>Payloads</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="./roadster.html">
                            <img src ="../storage/image/roadster.png">
                            <span>Roadster</span>
                        </a>
                    </li>
                    
        
                    <li>
                        <a class="footer__links" href="./rockets.html">
                            <img src ="../storage/image/rockets.png">
                            <span>Rockets</span>
                        </a>
                    </li>
        
                    <li>
                        <a class="footer__links" href="ships.html">
                            <img src ="../storage/image/spaceship.png">
                            <span>Ships</span>
                        </a>
                    </li>
                   
                    <li>
                        <a class="footer__links" href="starlink.html">
                            <img src ="../storage/image/starlink.png">
                            <span>Starlink</span>
                        </a>
                    </li>
                
                </ul>
            </footer>
        </section>
        <nav class="nav__right">
            <div class="information__item">
                <h2></h2>
                <p></p>
                <p></p>
                <p></p>
                

            </div>
        </nav>
    </main>
</body>
</html>